/ignore
*.exe
*.mop
*.pdf
*.ger
*.gbr
*.drl
*.layout
*.depend
*.o
*.elf
*.map
*.lss
*.hex
*.layout
*.lst
*.dep/
*.sym
code/sonic_code_app/sonic_code_app
code/sonic_code_boot/sonic_code_boot
code/io-can-modul_code/io_can_modul_code.hex

